<apex:page docType="html-5.0" standardStylesheets="false" showHeader="false" standardController="TF4SF__Application__c" extensions="TF4SF.mobileShortFormController" cache="false" applyHtmlTag="false">
<html>
<head>
  <!-- Force IE8 to run in Standards Mode: https://stackoverflow.com/questions/13896176/force-ie8-or-ie9-document-mode-to-standards -->
  <meta https-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
  <title>Digital Sales Platform</title>
  <apex:stylesheet value="{!URLFOR(Theme, 'css/dsp.css')}"/>
  <apex:includeScript value="{!URLFOR(Theme, 'js/libs/dsp/modernizr.js')}"/>
  <link href="{!URLFOR(Theme, 'css/thankyou-final.css')}" rel="stylesheet" />
  <style>
  .logo {
    margin-left: -100px;
  }
  </style>
</head>
<body id="thank-you">
<apex:form forceSSL="true">

  <div class="container">
    <header class="header">
     <a href="#">
       <img class="logo" src="{!URLFOR(Theme, 'images/companylogo.png')}"/>
    </a>

      <hr/>
      <!-- end .header --></header>
    <div id="pgAboutYou"> <!-- end .progrssBar -->
      <div id="subSteps">
      </div>
    </div>

    <div class="grid_11"><!-- Secondary Applicant Info --><div class="thankyouBox">

      <div>
        <h4 class="sectionHeaderThankyou">Thank you</h4>
        <div class="bodyText">
          <p class="bodyText">{!$Label.Mobile_Submit_Thank_you_Message}</p>
        </div>
      </div>
    </div>
    </div>
    <aside>
      <div class="grid_5">
        <!-- You are applying for -->
      </div>
    </aside>
    <!-- content_wrap -->

    <!-- end .content -->

    <br/>
    <div class="clear"></div>

    <footer class="row"></footer>
    <!-- end .container -->
  </div>


</apex:form>
<apex:includeScript value="{!URLFOR(Theme, 'js/libs/jquery/jquery.min.js')}"/>
<apex:includeScript value="{!URLFOR(Theme, 'js/libs/dsp/dsp-common.js')}"/>
</body>
</html>

</apex:page>