<apex:page controller="FAQ_Search" showHeader="false" >
    <head>
        <title>Articles | East West Bank - Digital Sales Platform</title>
         <apex:stylesheet value="{!URLFOR($Resource.EastWestAssets, 'css/bootstrap.css')}"/>
        <style>
            .search-list{
            list-style-type: none;
            padding:0px;
            margin:0px;
            }
            .search-block{
            margin: 15px 0;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            position: relative;
            }
            .search-block:last-child{
            border-bottom: 0px;
            }
            .search-block:before{
            position: absolute;
            content: "";
            left: 0px;
            top: 15px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #ce1b0e;
            }
            .search-data{
            margin-left: 30px;
            }
            .search-block a {
            text-decoration: none;
            font-size: 18px;
            color : #ce1b0e;
            }
            .search-content {
            color: #333333;
            font-size: 16px;
            margin-bottom: 15px;
            }
            .search-details h3{
            font-size: 20px;
            }
            .detail-answer{
            line-height: 1.3em;
            color: #333333;
            font-size: 14px;
            }
            h2.section {
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
            display: inline-block;
            }
            .helpful{
            font-size: 16px;
            }
            .count{
            color: #00549e;
            font-size: 18px;
            padding: 5px;
            }
            .yes-btn,.no-btn {
            border: 2px solid #7d7c7c;
            border-radius: 5px;
            display: inline-block;
            padding: 6px 18px;
            cursor: pointer;
            }
            .no-btn > input, .no-btn > a,.yes-btn > input, .yes-btn > a {
            background: transparent none repeat scroll 0 0;
            border: medium none;
            color: #3d3d3d;
            display: inline-block;
            font-style: normal;
            position: relative;
            top: -2px;
            -webkit-appearance: none;
            }
            .serach-result-details{padding:15px;}
            .main-menu{
            padding: 20px 40px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
            background-color: white;
            margin-bottom:20px;
            }
            .logo{width:200px;height:54px;}
            .back-btn{padding: 15px; margin-top: 15px;}
            .back-btn a,.back-btn a:hover{padding: 15px; color: #000; font-weight: 700;text-decoration:none;transition: all 0.3s ease; }
            .back-btn span{transition: all 0.3s ease; }
            .back-btn a:hover span{transform: translateX(-5px);}
            .panel-heading {font-weight: 700;}
            .panel-body img { width:100%; }
        </style>
        


    </head>
    <div class="container">        
       <div class="back-btn"> 
           <a href="/FAQ?q={!searchString}"><span class="glyphicon glyphicon-chevron-left"></span> Back to Search Page </a>
        </div>
        <div class="serach-result-details">
            <div class="search-details">
                <div class="panel panel-default">
                    <div class="panel-heading">{!title}</div>
                    <div class="panel-body">
                        <apex:dynamicComponent componentValue="{!HTMLContent}"/>
                    </div>
                </div>
            </div>
                                  
        </div>    
    </div>
</apex:page>