<apex:page >
<!--
<apex:page docType="html-5.0" controller="MLOAddUpdateController" action="{!getMLO}" cache="false" applyHtmlTag="false" id="thePage" showHeader="false" sidebar="false">

<script type="text/javascript">

    function getRemoteAccount(strId) {
       
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.MLOAddUpdateController.delMLO}',
            strId, 
            function(result, event){
                if (event.status) {                   
                    
                    document.getElementById("thePage:theForm:theButton").click();
                } else if (event.type === 'exception') {
                    document.getElementById("responseErrors").innerHTML = 
                        event.message + "<br/>\n<pre>" + event.where + "</pre>";
                } else {
                    document.getElementById("responseErrors").innerHTML = event.message;
                }
            }, 
            {escape: true}
        );
    }
  </script>

<apex:form id="theForm">


    <apex:pageBlock title="Locations">
        <apex:pageBlockSection >
            <apex:dataTable id="locationTable" value="{!lstLocation }" var="loc" rendered="true" cellPadding="4" border="1">
                
                <apex:column > {!loc.Name__c} </apex:column>    
                <apex:column >  {!loc.Address__c }  </apex:column>   
                <apex:column >              
                    <button type="button" id="btn{!loc.Id}" onclick="">Delete</button> 
                </apex:column> 
         
            </apex:dataTable>
            
        </apex:pageBlockSection>
    </apex:pageBlock>


    <apex:pageBlock title="MLO's">
        <apex:pageBlockSection >
            <apex:dataTable id="mloTable" value="{!lstMlo}" var="ml" rendered="true" cellPadding="4" border="1">               
                <apex:column > {!ml.Name__c} </apex:column> 
                <apex:column >  {!ml.Phone_Number__c }  </apex:column>   
                <apex:column >              
                    <button type="button" id="btn{!ml.Id}" onclick="">Delete</button> 
                </apex:column> 
         
            </apex:dataTable>
        </apex:pageBlockSection>
    </apex:pageBlock>

    
    <apex:pageBlock title="Choose Location from picklist">
        <apex:pageBlockSection >
            <apex:selectList value="{!selected}" size="1" label="Location">
                <apex:selectOptions value="{!picklst}"></apex:selectOptions>
            </apex:selectList>
        </apex:pageBlockSection>
    
    </apex:pageBlock>
    <apex:commandButton action="{!getMLO}" value="Search" id="theButton"/>


        <apex:actionFunction name="rerenderTable" rerender="TopPanel" />
        <apex:outputPanel id="TopPanel">
            <apex:pageBlock title="MLO's working in this location">

            <apex:dataTable id="myTable" value="{!lstResult }" var="loc" rendered="true" cellPadding="4" border="1">
                <apex:column value="{!loc.Id}">  </apex:column>
                <apex:column > {!loc.Mlo__r.Name__c} </apex:column> 
                <apex:column >  {!loc.Mlo__r.Phone_Number__c }  </apex:column>   
                <apex:column >              
                    <button type="button" id="btn{!loc.Id}" onclick="getRemoteAccount('{!loc.Id}')">Delete</button> 
                </apex:column> 
             
            </apex:dataTable>
        
            </apex:pageBlock>
        </apex:outputPanel>

</apex:form>
-->
    
</apex:page>