<apex:page applyBodyTag="false" docType="html-5.0" showHeader="true" sidebar="false" standardStylesheets="false" controller="SearchApplication">
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <apex:stylesheet value="{!URLFOR($Resource.SLDS103, 'SLDS1.0.3/assets/styles/salesforce-lightning-design-system.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.SLDS103, 'SLDS1.0.3/assets/icons/utility-sprite/svg/symbols.svg')}" />
    <!-- <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"/> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <apex:includescript value="http://ajax.microsoft.com/ajax/jquery.validate/1.6/jquery.validate.min.js"/>
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <apex:includeScript value="{!URLFOR($Resource.HardCodedDomain, 'HardCodedDomain/jquery-1.12.4.js')}"/>
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
  <apex:includeScript value="{!URLFOR($Resource.HardCodedDomain, 'HardCodedDomain/jquery-ui.js')}"/>
</head>
<body>
    <div class="slds">
        <!-- Create Tab panel -->
        <apex:pagemessages ></apex:pagemessages>
        <apex:form id="entireForm" styleClass="entireForm">          
            <apex:pageMessages id="errors" />  

            <div class="slds-grid slds-grid--pull-padded-small">
                <div class="slds-p-horizontal--small">
                    <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">
                        <apex:pageBlock mode="edit" id="appcriteria">
                            <table cellpadding="2" cellspacing="2" >
                                <tr>
                                    <td><h1 style="font-size: larger;">Search Criteria:</h1><br/>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="Application">
                                    <td style="font-weight:bold;">
                                        <label class="slds-form-element__label" >Application Number</label><br/>
                                        <apex:inputText value="{!ApplicationQuery}" style="width:200px;text-align:center;" required="false" label="Application #" styleClass="appnumber slds-input"/>
                                    </td>
                                </tr>

                                
                                <tr ><td style="font-weight:bold;"><br/><div align="center">(OR)</div><br/></td></tr>
                                <tr class="Applicant">
                                    <td style="font-weight:bold;">
                                        <label class="slds-form-element__label" >First Name</label><br/>
                                        <apex:inputText value="{!appfirstnameQuery}" style="width:200px;text-align:center;" styleClass="fname slds-input" required="false" label="First Name"/>
                                    </td>
                                </tr>
                                <tr class="Applicant">
                                    <td style="font-weight:bold;">
                                        <label class="slds-form-element__label" >Last Name</label><br/>
                                        <apex:inputText value="{!applastnameQuery}" style="width:200px;text-align:center;" required="false" styleClass="lname slds-input" label="Last Name"/>
                                    </td>
                                </tr>
                                <tr class="Applicant">
                                    <td style="font-weight:bold;">
                                        <label class="slds-form-element__label" >SSN Last 4 Digits</label><br/>
                                        <apex:inputText value="{!appssnLast4Query}" style="width:200px;text-align:center;" label="SSN Last 4" required="false" styleClass="ssnlast4 slds-input" maxlength="4"/>

                                    </td>
                                </tr>
                                <tr class="Applicant">
                                    <td style="font-weight:bold;">
                                        <label class="slds-form-element__label">Email</label><br/>
                                        <apex:inputText value="{!appEmailQuery}" style="width:200px;text-align:center;" label="Email" required="false" styleClass="email slds-input"/>
                                    </td>
                                </tr>
                                   <tr class="Applicant">
                                    <td style="font-weight:bold;">
                                        <label class="slds-form-element__label">Mobile No</label><br/>
                                        <apex:inputText value="{!mobileQuery}" style="width:200px;text-align:center;" label="" required="false" styleClass="ssnlast4 slds-input" maxlength="14"/>
                                    </td>
                                </tr>
                                <tr class="Applicant">
                                    <td style="font-weight:bold;width: 200px;">
                                        <label class="slds-form-element__label" >Date Created</label><br/>
                                        <apex:input type="date" value="{!FromDate}" html-class="slds-input prevdate" style="width: 200px;text-align:right;"/>
                                        <div align="center">To</div>
                                        <apex:input type="date" value="{!ToDate}" html-class="slds-input todaydate" style="width: 200px;text-align:right;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td><br/>
                                        <div align="center" class="Applicant"><apex:commandlink action="{!executeAppSearch}" styleClass="accountbuttonId slds-button slds-button--brand" value="Search" status="StatusId" style="width:200px;margin-bottom: 5px;" reRender="appresults,errors"/>
                                        </div>
                                        <div align="center" class="clearData"><apex:commandlink action="{!appclearAll}"  value="Clear All" styleClass="cancelId slds-button slds-button--brand" style="width:200px;" reRender="appresults,errors,appcriteria,script"/></div>
                                    </td>
                                </tr> 
                            </table>
                        </apex:pageBlock>
                    </div>
                </div>
                <div class="slds-col slds-p-horizontal--small">
                    <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center" style="margin-left: -20px;">
                        <div class="Applications">
                            <apex:pageBlock mode="edit" id="appresults">
                                <apex:actionStatus id="appStatusId" layout="inline">
                                    <apex:facet name="start" > 
                                        <img src="/img/loading.gif" /> 
                                        <font size="2" color="blue">Searching.. Please Wait..</font>                  
                                    </apex:facet>
                                </apex:actionStatus>
                                <apex:dataTable value="{!appWrapperList}" var="wrap" styleClass="slds-table slds-table--bordered slds-table--striped">
                                    <apex:column headerValue="Sr #" value="{!wrap.count}" />
                                    <apex:column headerValue="SF App #">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.Name}</apex:outputLink>
                                    </apex:column>
                                    <!-- <apex:column headerValue="FIS App #">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__External_App_ID__c}</apex:outputLink>
                                    </apex:column> -->
                                    <apex:column headerValue="Name">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__First_Name__c}&nbsp;{!wrap.app.TF4SF__Last_Name__c}</apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Product">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.productName} </apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Status">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__Application_Status__c} </apex:outputLink>
                                    </apex:column> 
                                    <apex:column headerValue="Mobile No">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__Primary_Phone_Number__c} </apex:outputLink>
                                    </apex:column>
                                    <!-- <apex:column headerValue="Current Branch">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__Current_Branch_Name__c} </apex:outputLink>
                                    </apex:column> -->
                                    <!-- <apex:column headerValue="Expiration Date">
                                        <apex:outputLink value="/{!wrap.app.id}"> 
                                            <apex:outputField value="{!wrap.app.TF4SF__Custom_DateTime1__c}"/>
                                        </apex:outputLink>
                                    </apex:column> -->
                                    <apex:column headerValue="Created Date">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__Created_Timestamp__c} </apex:outputLink>
                                    </apex:column>
                                    <apex:column headerValue="Submitted Date">
                                        <apex:outputLink value="/{!wrap.app.id}"> {!wrap.app.TF4SF__Submitted_Timestamp__c} </apex:outputLink>
                                    </apex:column>                                  
                                </apex:dataTable>                               
                                <div align="left">
                                <!-- <apex:panelGrid columns="4" style="margin-right: -10px;"> -->
                                    <apex:commandLink styleClass="slds-button slds-button--brand" action="{!appfirstPage}" reRender="appresults" rendered="{!apphasPrevious}">First</apex:commandlink>
                                    <apex:commandLink styleClass="slds-button slds-button--brand" action="{!apppreviousPage}" reRender="appresults" rendered="{!apphasPrevious}">Previous</apex:commandlink>
                                    <apex:commandLink styleClass="slds-button slds-button--brand" action="{!appnextPage}" reRender="appresults" rendered="{!apphasNext}">Next</apex:commandlink>
                                    <apex:commandLink styleClass="slds-button slds-button--brand" action="{!applastPage}" reRender="appresults" rendered="{!apphasNext}">Last</apex:commandlink>
                                </div>
                                <!-- </apex:panelGrid> -->
                                <apex:outputPanel rendered="{!assc != null}" >
                                    <p> <b>Total Search Results:</b> {!appTotalResults} </p>
                                    <p> <b>Search Result Page# </b>{!appPageNumber} / {!appTotalPages}</p>
                                </apex:outputPanel>                                
                                <apex:pageMessage rendered="{!appsearchMsg}" strength="3" severity="info" title="Search Not Found"><font size="3">Enter a new Search criteria or Contact your manager. </font> </apex:pageMessage>
                            </apex:pageBlock>
                        </div>
                    </div>
                </div>
            </div>
        </apex:form>
    </div>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
    <apex:includeScript value="{!URLFOR($Resource.HardCodedDomain, 'HardCodedDomain/1.11.0jquery.min.js')}"/>
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script> -->
    <apex:includeScript value="{!URLFOR($Resource.HardCodedDomain, 'HardCodedDomain/jquery-2.1.4.min.js')}"/>
    <script src="../../soap/ajax/29.0/connection.js" type="text/javascript"></script>
    <script src="../../soap/ajax/29.0/apex.js" type="text/javascript"></script>
    <apex:outputPanel id="script">
    <script type="text/javascript">
    $(document).ready(function() {    
        $(document).on('keyup',function(e) {
            if(e.keyCode == 13) {
                //alert('You pressed enter!');
                var ssn = $('.ssnlast4').val();
                if(ssn.length == 0 || ssn.length == 4) {
                    $('.accountbuttonId').click();    
                } else if(ssn.length != 0 && ssn.length < 4) {

                }
                
            }
            if(e.keyCode == 27) {
                //alert('You pressed esc!');
                $('.cancelId').click();
            }
        });
    });
    function clearContents(elementID) {
        document.getElementById(elementID).innerHTML = "";
    }

    function refreshForm() {
        console.log('refreshForm called');
        window.parent.location = window.parent.location.href;
    }

    $(document).ready(function() {
        var dtToday = new Date();
    
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();
        
        var maxDate = year + '-' + month + '-' + day;
        
        $('.todaydate').attr('max', maxDate);
        $('.todaydate').attr('value', maxDate);
        
        var future = new Date();
        future.setDate(future.getDate() - 90);

        var pmonth = future.getMonth() + 1;
        var pday = future.getDate();
        var pyear = future.getFullYear();
        if(pmonth < 10)
            pmonth = '0' + pmonth.toString();
        if(pday < 10) 
            pday = '0' + pday.toString();
        
        
        var minDate = pyear + '-' + pmonth + '-' + pday;
        $('.prevdate').attr('max', maxDate);
        $('.prevdate').attr('value', minDate);
    });

    </script>
    </apex:outputPanel> 
    </body>
    </html>
</apex:page>